.glass-panel {
  background: rgba(24, 24, 37, 0.6);
  backdrop-filter: blur(12px);
  border: 0.5px solid rgba(0, 225, 255, 0.2);
}

.glass-panel-hover {
  transition: border-color 0.4s ease, transform 0.4s ease;
}

.glass-panel-hover:hover {
  border-color: rgba(0, 225, 255, 0.5);
  transform: translateY(-2px);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  line-height: 1;
  display: inline-block;
}

.material-symbols-outlined.icon-web-hero {
	font-size: 200px;
	font-variation-settings:
	  'FILL' 0,
	  'wght' 400,
	  'GRAD' 0,
	  'opsz' 200;
}

.glass-card {
  background: rgba(24, 24, 37, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 225, 255, 0.1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-card:hover {
  border-color: #00e1ff;
  background: rgba(0, 225, 255, 0.05);
  transform: translateY(-4px);
  box-shadow: 0 0 30px rgba(0, 225, 255, 0.15);
}
  
.mission-overlay {
  background: linear-gradient(0deg, rgba(5, 10, 15, 0.95) 0%, rgba(5, 10, 15, 0.4) 100%);
}

.portrait-filter {
  filter: grayscale(100%) brightness(0.8) contrast(1.2);
  mix-blend-mode: screen;
}

.cyan-tint {
  background-color: rgba(0, 225, 255, 0.2);
}

.social-icon-glow:hover {
  filter: drop-shadow(0 0 8px rgba(0, 225, 255, 0.8));
}

.glow-cyan {
  box-shadow: 0 0 25px rgba(0, 225, 255, 0.4);
}

.glow-input {
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glow-text {
  text-shadow: 0 0 30px rgba(0, 225, 255, 0.4);
}

.glow-input:focus-within {
  box-shadow: 0 0 15px rgba(0, 225, 255, 0.3);
  border-color: #00e1ff;
}

.glow-border-primary {
  border: 2px solid rgba(0, 225, 255, 0.2);
  transition: all 0.3s ease;
}

.glow-border-primary:focus {
  border-color: #00e1ff;
  box-shadow: 0 0 20px rgba(0, 225, 255, 0.2);
  outline: none;
}

.glow-button {
  box-shadow: 0 0 15px rgba(0, 225, 255, 0.1);
  transition: all 0.3s ease;
}

.glow-button:hover {
  box-shadow: 0 0 25px rgba(0, 225, 255, 0.3);
  border-color: rgba(0, 225, 255, 0.8);
}

