---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Manifiesto from '../components/Manifiesto.astro';
import Matriz from '../components/Matriz.astro';
import Archivos from '../components/Archivos.tsx';
import Tripulacion from '../components/Tripulacion.astro';
import Contacto from '../components/Contacto.astro';
import { FAQ } from '../components/FAQ.tsx';
export const prerender = false;

import { actions } from "astro:actions";
---

<Layout 
  title="SPACE DEV - Sitio Oficial"
  description="Recurre a SPACE DEV para crear tu aplicaci칩n, p치gina web, videojuego o cualquier experiencia interactiva que requira tu proyecto. Somos un equipo de desarrolladores apasionados por la innovaci칩n y la creaci칩n, listos para llevar tus ideas al siguiente nivel."
>
  <main class="z-10">
    
    <!-- Hero / Top -->
    <Hero />

    <h1>Test Form</h1>

    <form method="POST" action="/_actions/submitContact">
      <input type="text" name="name" value="Test User" />
      <input type="email" name="email" value="test@test.com" />
      
      <select name="mission_type">
        <option value="web">web</option>
        <option value="gaming">gaming</option>
        <option value="apps">apps</option>
        <option value="arvr">arvr</option>
        <option value="other">other</option>
      </select>

      <textarea name="message">Este es un mensaje de prueba suficientemente largo</textarea>

      <button type="submit">Enviar</button>
    </form>

    <!-- Manifiesto -->
    <Manifiesto />
    <!-- Matriz -->
    <Matriz />
    <!-- Archivos -->
    <Archivos client:load/>
    <!-- Equipo -->
    <Tripulacion />
    <!-- FAQ -->
    <FAQ client:load/>
    <!-- Contacto -->
    <Contacto />

  </main>
</Layout>



