---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Proyectos from '../components/Proyectos.tsx';
import Footer from '../components/Footer.astro';
import TopSection from '../components/TopSection.tsx';
import InicioSection from '../components/InicioSection';
import Clipboard from '../components/Clipboard';

---

<Layout 
  title="Portfolio SpaceDEV - Desarrollador Y Programador"
  description="Recurre a SpaceDEV para crear tu aplicación, página web o videojuego. Especializado en la innovación y creación de nuevas tendencias"
>
  <main class="z-10">
    
    <!-- Hero / Top -->
    <SectionContainer id="top" class="flex items-center flex-col lg:gap-24 gap-10 lg:pt-52 pt-48 pb-32">
      <TopSection client:load />
    </SectionContainer>
    
    <!-- Inicio -->
    <SectionContainer id="inicio" class="py-16 gap-x-14 gap-y-24">
      <InicioSection client:load />
    </SectionContainer>

    <!-- Proyectos -->
    <SectionContainer id="proyectos" class="py-16">
      <div class="flex justify-center">
        <h2 class="text-SpacePalette-200 lg:text-5xl text-4xl pb-12 lg:pt-10">
          Proyectos
        </h2>
      </div>
      <Proyectos client:load />
    </SectionContainer>
    
    <!-- Sobre mí -->
    <SectionContainer id="sobre-mi" class="flex flex-col items-center justify-center py-16 lg:py-44 gap-y-24">
      <h2 class="text-SpacePalette-200 lg:text-5xl text-4xl">
        Sobre Mí
      </h2>
      <div class="flex flex-col lg:flex-row lg:gap-x-16 gap-y-16">
        <div class="relative flex justify-center items-center">
          <div class="absolute top-1/2 left-1/2 lg:w-[460px] w-[280px] -translate-x-1/2 -translate-y-1/2 z-0 pointer-events-none">
            <img src="/pictures/nubeApps.png" alt="Nube decorativa" class="w-auto animate-float-slow2" />
          </div>
          <img src="/logoAlexDEV/AlexDEVLogo2.png" alt="Logo de Alex DEV" class="relative z-10 lg:w-[380px] w-[220px] drop-shadow-custom-black" />
        </div>
        <span class="text-wrap text-center lg:text-left lg:text-xl text-lg text-SpacePalette-200 max-w-[700px] lg:px-14 px-4 [&>p]:mb-4 [&>p>strong]:text-SpacePalette-800 flex flex-col justify-center">
          <p>Soy Alex <strong>D.</strong> <strong>E</strong>nriquez <strong>V</strong>era, profesional con formación en Animación Digital y creador de SpaceDev, mi marca personal como desarrollador. Desde hace más de 4 años, me dedico a la programación de todo tipo de experiencias interactivas: páginas web, apps, videojuegos, y entornos inmersivos en realidad virtual y aumentada.</p>
          <p>
            Me apasiona convertir ideas en productos funcionales, creativos y bien optimizados. Cuando hay programación de por medio el cielo es el límite, <strong>si tu proyecto puede ser programado, se puede crear.</strong>
          </p>
        </span>
      </div>
    </SectionContainer>

    <!-- Contacto -->
    <SectionContainer id="contacto" bgClass="bg-black bg-opacity-60" class="py-16 lg:py-24 flex flex-col items-center gap-y-11">
    <h2 class="text-SpacePalette-200 lg:text-5xl text-4xl">
      Contacto
    </h2>
    <div class="flex flex-col justify-center gap-y-8">
      <h3 class="text-base lg:text-xl text-center text-SpacePalette-200">
      ¿Tienes una idea, proyecto o colaboración en mente?
      </h3>
      <h3 class="text-base lg:text-xl text-center text-SpacePalette-200 [&>strong]:text-SpacePalette-600">
      <strong>Muchas buenas ideas ven la luz</strong> comenzando con una simple conversación.
      Si requieres ayuda o conocer más sobre mi trabajo, no dudes en contactarme.
      </h3>
    </div>
    <Clipboard client:load />
    </SectionContainer>

    <!-- Footer -->
    <SectionContainer bgClass="bg-black bg-opacity-60" class="pb-10">
    <Footer />
    </SectionContainer>

  </main>
</Layout>



