---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Manifiesto from '../components/Manifiesto.astro';
import Matriz from '../components/Matriz.astro';
import Archivos from '../components/Archivos.astro';
import Equipo from '../components/Equipo.astro';
import InicioMision from '../components/InicioMision.astro';
---

<Layout 
  title="Portfolio SpaceDEV - Desarrollador Y Programador"
  description="Recurre a SpaceDEV para crear tu aplicaci칩n, p치gina web o videojuego. Especializado en la innovaci칩n y creaci칩n de nuevas tendencias"
>
  <main class="z-10">
    
    <!-- Hero / Top -->
    <Hero />
    <!-- Manifiesto -->
    <Manifiesto />
    <!-- Matriz -->
    <Matriz />
    <!-- Archivos -->
    <Archivos />
    <!-- Equipo -->
    <Equipo />
    <!-- Contacto -->
    <InicioMision />

  </main>
</Layout>



