<span
    class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-redWeb-300 bg-cyan-200 rounded-full cursor-pointer dark:bg-gray-800 dark:text-redWeb-200/90 backdrop-blur-3xl whitespace-nowrap">
    <slot />
</span>
