---
import Clipboard from "./Clipboard";
---
<div class="flex flex-col items-center gap-y-11">    
    <h2 class="text-SpacePalette-200 lg:text-5xl text-4xl">
      Contacto
    </h2>
    <div class="flex flex-col justify-center gap-y-8">
      <h3 class="text-base lg:text-xl text-center text-SpacePalette-200">
      ¿Tienes una idea, proyecto o colaboración en mente?
      </h3>
      <h3 class="text-base lg:text-xl text-center text-SpacePalette-200 [&>strong]:text-SpacePalette-600">
      <strong>Muchas buenas ideas ven la luz</strong> comenzando con una simple conversación.
      Si requieres ayuda o conocer más sobre nuestro trabajo, no dudes en contactarnos.
      </h3>
    </div>
    <Clipboard client:load />
</div>