

<footer class="bottom-0 left-0 z-20 w-full lg:p-4 bg-redWeb-200/20 shadow md:flex md:items-center md:justify-between md:px-6 md:py-4 rounded-full px-7 py-4">
    <span class="text-sm text-SpacePalette-200/55 sm:text-center">© 2025 <a href="https://flowbite.com/" class="hover:text-redWeb-400">SpaceDEV</a>. Casi todos los derechos reservados.
    </span>
    {/* <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#sobre-mi" class="hover:text-redWeb-400 me-4 md:me-6">Sobre mí</a>
        </li>
        
        <li>
            <a href="#" class="hover:text-redWeb-400">Contacto</a>
        </li>
    </ul> */}
</footer>
