---
import HTMLIcon from "./icons/HTML";
import CSSIcon from './icons/CSS';
import JavaScriptIcon from "./icons/JavaScript";
import TypeScriptIcon from "./icons/TypeScript";
import TailwindCSSIcon from "./icons/TailwindCSS";
import AstroIcon from "./icons/Astro";
import PreactIcon from "./icons/Preact";
import NodejsIcon from "./icons/Nodejs";
import PHPIcon from "./icons/PHP";
import MySQLIcon from "./icons/MySQL";
import WordPressIcon from "./icons/WordPress";
import UnrealIcon from "./iconsWhite/Unreal";
import UnityIcon from "./iconsWhite/Unity";
import CsharpIcon from "./icons/Csharp";
import MetaSparkStudioIcon from "./icons/MetaSparkStudio";
import FigmaIcon from "./icons/Figma";
---

<div >
    <ul class="dark:text-redWeb-100 text-redWeb-300 grid gap-5 p-10 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
        <li class="border border-transparent hover:border-orange-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0">            
            <HTMLIcon class="w-14 h-14 mt-2"/>          
            HTML
        </li>
        <li class="flex flex-col border border-transparent hover:border-cyan-400 rounded-xl items-center p-2 transition-all duration-0">
            <CSSIcon class="w-14 h-14 mt-2"/>
            CSS
        </li>
        <li class="border border-transparent hover:border-yellow-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0">            
            <JavaScriptIcon class="w-14 h-14 mt-2"/>          
            JavaScript
        </li>
        <li class="flex flex-col border border-transparent hover:border-blue-400 rounded-xl items-center p-2 transition-all duration-0">
            <TypeScriptIcon class="w-14 h-14 mt-2"/>
            TypeScript
        </li>
        <li class="border border-transparent hover:border-cyan-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0 text-center">            
            <TailwindCSSIcon class="w-14 h-14 mt-2"/>          
            Tailwind CSS
        </li>
        <li class="flex flex-col border border-transparent hover:border-amber-400 rounded-xl items-center p-2 transition-all duration-0">
            <AstroIcon class="w-14 h-14 mt-2"/>
            Astro
        </li>
        <li class="border border-transparent hover:border-purple-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0">            
            <PreactIcon class="w-14 h-14 mt-2"/>          
            Preact
        </li>
        <li class="flex flex-col border border-transparent hover:border-lime-400 rounded-xl items-center p-2 transition-all duration-0">
            <NodejsIcon class="w-14 h-14 mt-2"/>
            Node.js
        </li>
        <li class="border border-transparent hover:border-indigo-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0">            
            <PHPIcon class="w-14 h-14 mt-2"/>          
            PHP
        </li>
        <li class="flex flex-col border border-transparent hover:border-sky-400 rounded-xl items-center p-2 transition-all duration-0">
            <MySQLIcon class="w-14 h-14 mt-2"/>
            MySQL
        </li>
        <li class="border border-transparent hover:border-slate-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0">            
            <WordPressIcon class="w-14 h-14 mt-2"/>      
            WordPress
        </li>
        <li class="flex flex-col border border-transparent hover:border-stone-400 rounded-xl items-center p-2 transition-all duration-0">
            <UnrealIcon class="w-14 h-14 mt-2"/>
            Unreal
        </li>
        <li class="border border-transparent hover:border-gray-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0">            
            <UnityIcon class="w-14 h-14 mt-2"/>          
            Unity
        </li>
        <li class="flex flex-col border border-transparent hover:border-violet-400 rounded-xl items-center p-2 transition-all duration-0">
            <CsharpIcon class="w-14 h-14 mt-2"/>
            Csharp
        </li>
        <li class="border border-transparent hover:border-fuchsia-400 rounded-xl flex flex-col items-center p-2 transition-all duration-0 lg:text-center">            
            <MetaSparkStudioIcon class="w-14 h-14 mt-2"/>          
            Spark Studio
        </li>
        <li class="flex flex-col border border-transparent hover:border-pink-400 rounded-xl items-center p-2 transition-all duration-0">
            <FigmaIcon class="w-14 h-14 mt-2"/>
            Figma
        </li>
    </ul>
</div>