<div class="flex justify-center lg:flex-nowrap flex-wrap">	
				
    <span class="text-pretty text-lg text-redWeb-300 dark:text-redWeb-100 max-w-[700px] lg:pb-10 p-4 [&>p]:mb-4 [&>p>strong]:text-redWeb-400 flex flex-col justify-center">
        <p>Me llamo Alex D. Enriquez Vera, y llevo <strong>programando y diseñando para la web y videojuegos multiplataforma desde 2021.</strong> Me apasiona la tecnología en todas sus formas, desde el desarrollo web hasta explorar la realidad virtual y aumentada.</p>
        <p>
        He tenido la oportunidad de trabajar en proyectos de distintas escalas, y siempre busco soluciones innovadoras y prácticas para cada reto. Además, <strong>mi experiencia en diseño con herramientas como Photoshop, Illustrator y Figma </strong>me permite darle vida visual a las ideas de manera complementaria.</p>
        <p>
        <strong>Mi objetivo es formar parte de un equipo que valore la calidad y la eficiencia,</strong> y seguir creciendo como profesional en un entorno donde pueda aprender y aplicar nuevas tecnologías.</p>
    </span>

    <div class="flex lg:gap-0 lg:mt-0 gap-4 p-9">
        <img
            class="hidden w-full max-w-sm h-auto dark:block drop-shadow-custom-dark"
            src="/vectorMe/AD_vectorDark.webp"
            alt="Ilustración de " />
        <img
            class="block w-full max-w-sm h-auto dark:hidden drop-shadow-custom-light"
            src="/vectorMe/AD_vector.webp"
            alt="Logo for portfolio" />
    </div>

</div>